#resumen-pdf
{
    display: none;
}

/* Modo de impression de los reportes */
@media print
{
    #ninos-registrados,
    #estadisticas,
    #filtros,
    #resumen-pdf-actual
    {
        display: none !important;
    }

    #resumen-pdf
    {
        display: block;
        margin-bottom: 1rem;
    }

    .d-print-none {
        display: none !important;
    }

    .d-print-block {
        display: block !important;
    }

    .nino-card {
        break-inside: avoid;
        margin-bottom: 1rem;
    }

    .stat-card {
        break-inside: avoid;
    }
}